@font-face {
    font-family: "georgia";
    src: url(/fonts/Georgia.ttf);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
:root{
    --light : #F1CDB3;
    --dark : #cdcdcd;
    --font__dark: #545454;
}
*{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
    transition: 0.4s ease-in-out;
}
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: #fff;
}
header .wrapper{
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}   
.logo{
    margin-left: 0;
}
header .wrapper .menu{
    display: flex;
    align-items: center;
    width: 443px;
    height: 27px;
    margin-right: 0;
}
header .menu a{
    color: var(--font__dark);
    text-decoration: none;  
}
header .menu p:nth-child(4){
    margin-right: 0;
}
.menu__active{
    color: #292929 !important;
}
.menu__active::before{
    content: '';
    position: absolute;
    top: 70px;
    border: 1px solid var(--light);
    width: 58px;
}
.friends{
    background-color: #fafafa;
}
h1{
    text-align: center;
    font-family: georgia;
    font-size: 35px;
    color: var(--font__dark);
    font-weight: 300;
    padding-top: 80px;
    margin-bottom: 45px;
}
.friends__catalog{ 
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-bottom: 80px;
    row-gap: 30px;
}
.pet{
    width: 270px;
    height: 435px;
    align-items: center;
    background-color: #fff;
    border-radius: 9px;
}
.pet__photo{
    background-color: #fff;
}
.pet__name{
    text-align: center;
    margin-bottom: 48px;
}
.pet__name p{
    font-size: 20px;
    font-family: georgia;
    font-weight: 300;
    color: #545454;
}
.pet__info{
    text-align: center;
}
.pet__info a{
    text-decoration: none;
    font-size: 17px;
    color: #292929;
    padding: 15px 45px;
    border: 1px solid var(--light);
    border-radius: 100px;
}
.pet__photo{
    margin-bottom: 30px;
}
.pages{
    display: flex;
    align-items: center;
    background-color: #fafafa;
    max-width: 340px;
    margin-bottom: 90px;
}
.long__left, .left{
    width: 52px;
    height: 52px;
    border: 1px solid #cdcdcd;
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.middle{
    width: 52px;
    height: 52px;
    background-color: var(--light);
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.middle p{
    font-family: georgia;
}
.right, .long__right{
    width: 52px;
    height: 52px;
    background-color: #fff;
    border: 1px solid var(--light);
    border-radius: 100px;
    display: flex;
    align-items: center;
}
footer{
    background: radial-gradient(circle farthest-corner at 100px 50px, #513D2F, #211F20);
}
.footer__container{
    display: flex;
    padding: 60px 0 0 0;
}
.faq__title, .visit{
    font-size: 35px;
    font-family: georgia;
    font-weight: 300;
    color: #fff;
    margin-bottom: 40px;
}
.mail, .phone, .adress__one, .adress__two{
    display: flex;
    align-items: center;
    color: var(--light);
    font-family: georgia;
    font-size: 20px;
}
.mail, .adress__one{
    margin-bottom: 40px;
}
.mail::before{
    content: url(photo/icon-email.svg);
    padding-right: 20px;
}
.phone::before{
    content: url(photo/icon-phone.svg);
    padding-right: 20px;
}
.adress__one::before{
    content: url(photo/icon-marker.png);
    padding-right: 20px;
}
.adress__two::before{
    content: url(photo/icon-marker.png);
    padding-right: 20px;
}
.footer__pet img{
    margin-bottom: -3px;
}

.menu a:hover{
    color: var(--light);
    cursor: pointer;
}
.friend__btn:hover{
    border: 2px solid var(--light);
    background-color: #fff;
    padding: 13px 43px;
    cursor: pointer;
}
.pet:hover .pet__info a{
    background-color: var(--light);
    cursor: pointer;
}
.rest__pets a:hover{
    background-color: #fff;
    border: 2px solid var(--light);
    padding: 13px 43px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .friends__catalog{
        grid-template-columns: repeat(3, 1fr);
    }
    .friends__catalog div:nth-child(8), .friends__catalog div:nth-child(7){
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .friends__catalog{
        grid-template-columns: repeat(2, 1fr);
    }
    .friends__catalog div:nth-child(6), .friends__catalog div:nth-child(5){
        display: none;
    }
}
@media screen and (max-width: 768px){
    .menu.active{
        position: fixed;
        top: 0;
        background-color: #211F20;
        max-width: 320px !important;
        width: 100% !important;
        height: 100vh !important;
        right: 0 !important;
        flex-direction: column;
        vertical-align: middle;
    }
    .menu.active a:nth-child(2){
        margin-top: auto;
    }
    .menu.active a:nth-child(5){
        margin-bottom: auto;
    }
    .menu.active .last__menu__item{
        margin-bottom: auto;
    }
    .menu a{
        right: -100%;
        display: none;
    }
    .menu.active a{
        display: flex;
        padding: 50px 0;
        font-size: 32px;
        right: 0;
    }
    .menu.active .menu__active::before{
        top: 440px;
        width: 123px;
    }
    .hamburger{
        position: absolute;
        right: 30px;
        height: 22px;
        z-index: 99;
        top: 30px;  
        display: flex;
        flex-direction: column;
    }
    .hamburger.active{
        transform: rotate(90deg);
    }
    .hamburger__line{
        background-color: var(--light);
        content: '';
        width: 30px;
        height: 2px;
        margin-right: 0;
        margin-left: auto;
        margin: auto;
    }
    .footer__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 32px 0 0 0;
    }
    .footer__pet{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
@media screen and (max-width: 560px) {
    .friends__catalog{
        grid-template-columns: repeat(1, 1fr);
    }
    .friends__catalog div:nth-child(4), .friends__catalog div:nth-child(5){
        display: none;
    }
    .footer__container{
        display: block;
    }
    h1, h2, .faq__title, .faq p, .visit{
        font-size: 25px;
        text-align: center;
    }
    .faq{
        margin-bottom: 60px;
    }
}