@font-face {
    font-family: "georgia";
    src: url(/fonts/Georgia.ttf);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
:root{
    --light : #F1CDB3;
    --dark : #cdcdcd;
    --font__dark: #545454;
}
*{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
    transition: 0.4s ease-in-out;
}
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: #fff;
}
header .wrapper{
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}   
.logo{
    margin-left: 0;
}
header .wrapper .menu{
    display: flex;
    align-items: center;
    width: 443px;
    height: 27px;
    margin-right: 0;
}
header .menu a{
    color: var(--font__dark);
    text-decoration: none;  
}
header .menu p:nth-child(4){
    margin-right: 0;
}
.menu__active{
    color: #292929 !important;
}
.menu__active::before{
    content: '';
    position: absolute;
    top: 70px;
    border: 1px solid var(--light);
    width: 58px;
}
.friends{
    background-color: #fafafa;
}
h1{
    text-align: center;
    font-family: georgia;
    font-size: 35px;
    color: var(--font__dark);
    font-weight: 300;
    padding-top: 80px;
    margin-bottom: 45px;
}
.friends__catalog{ 
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-bottom: 80px;
    row-gap: 30px;
}
.pet{
    width: 270px;
    height: 435px;
    align-items: center;
    background-color: #fff;
    border-radius: 9px;
}
.pet__photo{
    background-color: #fff;
}
.pet__name{
    text-align: center;
    margin-bottom: 48px;
}
.pet__name p{
    font-size: 20px;
    font-family: georgia;
    font-weight: 300;
    color: #545454;
}
.pet__info{
    text-align: center;
}
.pet__info a{
    text-decoration: none;
    font-size: 17px;
    color: #292929;
    padding: 15px 45px;
    border: 1px solid var(--light);
    border-radius: 100px;
}
.pet__photo{
    margin-bottom: 30px;
}
.pages{
    display: flex;
    align-items: center;
    background-color: #fafafa;
    max-width: 340px;
    margin-bottom: 90px;
}
.long__left, .left{
    width: 52px;
    height: 52px;
    border: 1px solid #cdcdcd;
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.middle{
    width: 52px;
    height: 52px;
    background-color: var(--light);
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.middle p{
    font-family: georgia;
}
.right, .long__right{
    width: 52px;
    height: 52px;
    background-color: #fff;
    border: 1px solid var(--light);
    border-radius: 100px;
    display: flex;
    align-items: center;
}
footer{
    background: radial-gradient(circle farthest-corner at 100px 50px, #513D2F, #211F20);
}
.footer__container{
    display: flex;
    padding: 60px 0 0 0;
}
.faq__title, .visit{
    font-size: 35px;
    font-family: georgia;
    font-weight: 300;
    color: #fff;
    margin-bottom: 40px;
}
.mail, .phone, .adress__one, .adress__two{
    display: flex;
    align-items: center;
    color: var(--light);
    font-family: georgia;
    font-size: 20px;
}
.mail, .adress__one{
    margin-bottom: 40px;
}
.mail::before{
    content: url(photo/icon-email.svg);
    padding-right: 20px;
}
.phone::before{
    content: url(photo/icon-phone.svg);
    padding-right: 20px;
}
.adress__one::before{
    content: url(photo/icon-marker.png);
    padding-right: 20px;
}
.adress__two::before{
    content: url(photo/icon-marker.png);
    padding-right: 20px;
}
.footer__pet img{
    margin-bottom: -3px;
}

.menu p:hover{
    color: #fff;
    cursor: pointer;
}
.friend__btn:hover{
    border: 2px solid var(--light);
    background-color: #fff;
    padding: 13px 43px;
    cursor: pointer;
}
.pet:hover .pet__info a{
    background-color: var(--light);
    cursor: pointer;
}
.rest__pets a:hover{
    background-color: #fff;
    border: 2px solid var(--light);
    padding: 13px 43px;
    cursor: pointer;
}